{{#each productos}}
<tr id="producto-{{IdProducto}}">
    <td class="IdProducto">{{IdProducto}}</td>
    <td class="NombreProducto">{{NombreProducto}}</td>
    <td class="DescripcionCortaProducto">{{DescripcionCortaProducto}}</td>
    <td class="DescripcionLargaProducto">{{DescripcionLargaProducto}}</td>
    <td class="PrecioProducto">$ {{PrecioProducto}}</td>
    <td class="CategoriaProducto">{{NombreCategoria}}</td>
    <td class="CantidadStockProducto">{{CantidadStockProducto}}</td>
    <td class="EsDestacado">{{EsDestacado}}</td>
    <td>
        <a class="btn btn-default editar" href="form-producto.php?IdProducto={{IdProducto}}">Editar</a>&nbsp;
        <a class="btn btn-default eliminar">Eliminar</a>
    </td>
    <td class="UrlImagenProducto hide">{{Imagen}}</td>
</tr>
{{/each}}