{{#each sliders}}
<tr id="slider-{{IdSlider}}">
    <td class="IdSlider">{{IdSlider}}</td>
    <td class="TituloImagen">{{TituloImagen}}</td>
    <td class="OrdenImagen">{{OrdenImagen}}</td>
    <td class="Imagen"><img src="{{Path}}{{IdImagen}}/{{FileName}}" width="200" height="200" /></td>
    <td>
        <a class="btn btn-default editar" href="form-slider.php?IdSlider={{IdSlider}}">Editar</a>&nbsp;
        <a class="btn btn-default eliminar">Eliminar</a>
    </td>
    <td class="UrlImagen hide">{{Path}}{{IdImagen}}/{{FileName}}</td>
</tr>
{{/each}}