.form-login{
	margin-top: 30px;
}

.form-login legend{
	font-size: 30px;
	color: #449d44;
}

.btn-entrar{
	text-align: center;
}

.titulo-login{
	text-align:center;
	color: #fff;
	background-color: #449d44;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
	font-size: 27px;
}

.btn-iniciar{
	background-color: #449d44;
	border: #449d44;
}

.btn-iniciar:hover{
	background-color: #449d99;
}

#label-error{
    color: red;
}