body, .thumbnail, .producto
{
    background-image: url('../img/pattern12.png');
}

/*MENU*/
.menu
{
	margin-bottom:0px; 
	background: url('../img/fondoGris.jpg');
}

.menu .navbar-nav .item-menu
{
    text-transform: uppercase;
    margin: 10px;
}

.menu .navbar-nav a.item-menu:hover
{
    color: #fff;
    background-color: #337ab7;
    border-radius: 3px;
}

.navbar-header .logo
{
    margin: 10px;
    color: #449d44;
    font-size: 25px;
}

.navbar-header .logo:hover
{
    color: #fff;
    background-color: #449d44;
}

.controles-sesion
{
    text-align: right;
   /*color: #fff;*/
    padding: 15px 15px 15px 15px;
}

.controles-sesion .btn-primary a,
.controles-sesion .btn-success a
{
	color: #fff;
	text-decoration: none;
}

.controles-sesion span.panel-login{
    color: #000 ;
}

.controles-sesion a{
    padding-right: 3px;
    border-right: 1px solid #000;
}

/* ---------------------------------------- */

/*CARRITO DE COMPRAS*/
#carrito{
    background-color: #D8D8D8;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    padding-right: 10px;
    padding-bottom: 10px;
}

.carrito
{
    margin-top: 20px;
    width: 100%;
}

.titulo-carrito
{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: #449d44;
}

.linea-carrito
{
    margin-top: 24px;
    height:25px;
}

.linea-carrito.total
{
    height:45px;
    font-weight: bolder;
    text-align: right;
    font-size: 16px;
    color: #449d44;
}
.linea-carrito-vacio.total{
    text-align: center; 
    height:45px;
    font-weight: bolder;
    font-size: 16px;
    color: #449d44;
}
.carrito .linea-carrito td
{
    width: 33%;
}

.carrito .cabecera-carrito{
	height: 35px;
}

.carrito .cabecera-carrito th{
	text-align: center;
}

.btn-eliminar :hover{
    cursor: pointer;
}

.ver-carrito a{
    margin-bottom: 10px;
}

.confirmar-carrito a{
    background-color: #449d44;
    border-color: #449d44;
}
/* ----------------------------------- */

.label-error{
	color: #a94442;
}

/*FOOTER*/
.footer{
    background: url('../img/fondoGris.jpg');
    padding: 14px;
}

.footer .links{
    text-align: right;
}

.footer .links > a {
    padding: 10px;
}
/* -------------------------------------------- */