{{#each destacados}} 
    <div class="col-md-4">
        <div class="thumbnail producto">
          <a href=""><img src="./dashboard/{{Path}}/{{IdImagen}}/{{FileName}}" alt="" class=" img-thumbnail"></a>
          <div class="caption descripcion">
            <h3>{{NombreProducto}}</h3>
            <p class="descripcion">{{DescripcionCortaProducto}}</p>
            <p class="precio" price="200.00">$ {{PrecioProducto}}</p>
            <p><button class="glyphicon glyphicon-minus-sign menos"></button>&nbsp;<input type="text" value="1" maxlength="3" class="incremento" >&nbsp; 
               <button class="glyphicon glyphicon-plus-sign mas"></button>
            </p>
            <a class="btn btn-primary agregar-carrito" role="button">Agregar al carrito</a>
          </div>
        </div>
    </div>
{{/each}}